---
layout: default
title: About
permalink: /about/
---
<section class="about">
  <a href="{{site.baseurl}}/" class="button_back"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back</a>
  <div class="about_box">
    <div class="author">
        <div class="author_image">
          <img src="{{site.baseurl}}/assets/img/{% if site.author-pic %}{{site.author-pic}}{% endif %}" alt="Author image">
        </div>
        <div class="author_info">
          <h2 class="author_title">{% if site.author-name %}{{site.author-name}}{% else %}Author{% endif %}</h2>
          
          <p class="author_content">
            &bull; I am not religious.<br>
            &bull; I never drink or smoke.<br>
            &bull; I don't play football, basketball, baseball, volleyball, badminton, or table tennis, though all of my friends play at least one of them.<br>
            &bull; I like skating, inline skating, skateboard and skiing.<br>
            &bull; I'm a marathon runner. I finished my first marathon in 2015 at Dalian, China.<br>
            &bull; I enjoy playing harmonica and the game of go.<br>
            &bull; I'm a crazy fans of <a href="https://xkcd.com/">xkcd</a>.<br>
            &bull; I seldom play electronic games, except for <a href="http://www.monumentvalleygame.com/" ><i>Monument Valley</i></a> and 
            <a href="https://minecraft.net"><i>Minecraft</i></a>.<br>
            &bull; I also have interests in Quantum Physics and <a href="http://www.ansys.com/products/3d-design/ansys-discovery-live" title="The ANSYS&reg; Discovery Live is really a BIG event for CFD. Highly recommend you have a try!">Computational Fluid Dynamics.</a><br>
            &bull; We could be good friends if you agree <font title="
1. 不要在脑海里想象一头大象
2. WinrarInstaller.rar
3. &quot;We live in a world that kill people who kill people in order to teach people that killing people is wrong.&quot;
4. The commencement is just a commencement." color="blue">those</font> are funny.<br>
            &bull; <font title="Yeah, I have ADHD.">I have difficulty to keep focusing on single task; However sometimes I have hyper-focus on really engaging activities.</font> <br>         
            &bull; In our campus, The center stairway of the Main Building has <font color=red title="&quot;Answer to the Ultimate Question of Life, the Universe, and Everything&quot;"><b>42</b></font> steps. 
          </p>

          <p class="author_subtitle">I'm currently learning <b>butterfly</b>, <b>scuba-diving</b> and <font title="Why German?  I just feel like it..."><b>German</b></font>. Viel Glück !</p>
        </div>
      </div>

      <div class="about_social">
        {% include social_footer.html %}
      </div>
    </div> <!-- End Section Author -->
</section>