
<header class="main_header">
  <a href="{{site.baseurl}}/" class="logo">{% if site.logo %}{{site.logo}}{% else %}Mafii<span>.me</span>{% endif %}</a>
  <nav class="main_menu">
    <a href="{{site.video.vimeo}}" target="_blank">Head Video</a>
    <a href="{{site.baseurl}}#main-work">Work</a>  
    <a href="{{site.blog_url}}" target="_blank">Blog</a>
    <a href="{{site.baseurl}}/about/">About</a>
    <a href="{{site.baseurl}}/contact/" target="_blank">Contact</a>
  </nav>
</header> <!-- End Section Header -->
