  <link href="{{ site.baseurl }}/works/Playground/playground.css" rel="stylesheet">
  <script src="{{site.baseurl}}/works/Playground/TearableCloth.js"></script>
  <script src="{{site.baseurl}}/works/Playground/Fireworks.js"></script>
  <script src="{{site.baseurl}}/works/Playground/playground.js"></script>
  <main class="page-content" aria-label="Content" >
  <section class="chapters cf">
  <p class="title">Playground</p>
  <div id="playground" onclick="PlayClick();">
    <noscript>Please enable JavaScript</noscript>
  	
  	<div>
  		<h3 title="Bingo!">Click here to see something interesting or surprising happening!</h3>
  	</div>  
  </div>

  <!-- 以下都是不可见的 -->
    <div id="pop_xkcd">
        <img src="{{ site.baseurl }}/works/Playground/xkcd1.png" width="90%">
        <img src="{{ site.baseurl }}/works/Playground/xkcd2.png" width="90%">
    </div>

    <div id="pop_cloth">
      <canvas id="canvas_cloth"></canvas>
      <div class="info">
        <p>
          <br>- Tear the cloth with your mouse.
          <br>
          <br>- Right click and drag to cut the cloth
          <br>
          <br>
          <br><a id="github" target="_blank" href="https://github.com/suffick/Tearable-Cloth">View on GitHub</a>
          <br>
        </p>
      </div>
    </div>

</section>


</main> <!-- End Section Comment Area -->
