
  <main class="page-content" aria-label="Content" id="main-work">
  <section class="chapters cf">
      <p class="title">Works & Projects</p>
      <div class="wrapper">
        {% for work in site.pages %}
          {% if work.type == "work" %}
          <div class="chapter">
            <a href="{{ work.url }}">
              {% if work.thumb %}
              <img src= "{{ work.url | append: work.thumb | prepend: site.baseurl }}" alt="{{ work.title }}">
              {% else %}
              <img src= {{ "assets/img/work.png" | prepend: site.baseurl }} alt="{{ work.title }}">
              {% endif %}              
            </a>
            <div class="chapter_inner">
              <h3 class="chapter_title">{{work.title}}</h3>
            </div>
          </div>

          {% endif %}
        {% endfor %}      
      </div>
  </section>
  </main>