---
layout: default
---
  {% include header.html %}

  {% include banner.html %}

  {% include aboutme.html %}

  {% include works.html %}
   <!-- 注意这里隐藏了 -->
  <main class="page-content" aria-label="Content" style="display:none;"> 
  <section class="chapters cf">
 
      <div class="wrapper" >
      {{ content }}
      </div>
  </section>
  </main>
  <!-- 空白一条 -->
  <div style="height:30px;margin:50 0 50 0;background:#ccccd0;"></div>
  
  {% include gallery.html %}

  <div style="height:30px;margin:50 0 50 0;background:#ccccd0;"></div>
  
  {% include location.html %}

  <div style="height:30px;margin:50 0 50 0;background:#ccccd0;"></div>
  
  {% include playground.html %}

  {% include newsletter.html %}

  {% include pagination.html %}

  {% include footer.html %}